<div id="myappointments"></div>

<div id="confirmAppointmentDialog">
    <p>Do you want to confirm appointment?</p>
    <input id="MyAppointment_AppointmentId" name="AppointmentId" type="hidden" />
</div>