<div id="clinics"></div>

<div id="detailsDialogClinic">
    <form id="detailsFormClinic">
        <div class="details-form-field">
            <label for="name">Name:</label>
            <input id="Clinic_Name" name="Clinic_Name" type="text" />
        </div>
        <div class="details-form-field">
            <button type="submit" id="Clinic_Save">Save</button>
        </div>
    </form>
</div>