<div id="doctorsclinics"></div>

<div id="detailsDialogDoctorClinic">
    <form id="detailsFormDoctorClinic">
        <div class="details-form-field">
            <label for="DoctorClinic_Doctor">Doctor:</label>
            <select id="DoctorClinic_Doctor" name="DoctorClinic_Doctor"></select>
        </div>
        <div class="details-form-field">
            <label for="DoctorClinic_Clinic">Clinic:</label>
            <select id="DoctorClinic_Clinic" name="DoctorClinic_Clinic"></select>
        </div>
        <div class="details-form-field">
            <button type="submit" id="DoctorClinic_Save">Save</button>
        </div>
    </form>
</div>